body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.player {
    text-align: center;
}

.dice-container {
    width: 110px;
    height: 100px;
    perspective: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease-out;
}

.face {
    position: absolute;
    width: 100%; /* Ajustar al tamaño del dado */
    height: 100%; /* Ajustar al tamaño del dado */
    background: white;
    /*border: 0px solid black;*/
    font-size: 130px; /* Hacer el número más grande */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Posición de las caras del dado */
.front  { transform: rotateY(  0deg) translateZ(40px); } /* 1 */
.back   { transform: rotateY(180deg) translateZ(40px); } /* 6 */
.top    { transform: rotateX( 90deg) translateZ(40px); } /* 4 */
.bottom { transform: rotateX(-90deg) translateZ(40px); } /* 3 */
.left   { transform: rotateY(-90deg) translateZ(40px); } /* 2 */
.right  { transform: rotateY( 90deg) translateZ(40px); } /* 5 */

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

